@media (max-width: 76em) {
  .App {
    &__container {
      padding: 3rem;
    }
  }

  .product {
    &__container {
      width: 80%;
    }

    &__button {
      font-size: 1.4rem;
    }
  }

  .LeftContent {
    &__title {
      margin-left: 3.5rem;
    }
  }
}

@media (max-width: 52.4em) {
  .App {
    &__container {
      justify-content: center;
    }
  }
  .LeftContent {
    &__container {
      flex: 0 0 100%;
    }
    &__title {
      margin-left: 4rem;
    }
  }

  .RightContent {
    &__container {
      flex: 0 0 100%;
    }
  }

  .desserts {
    gap: 1rem;
  }
  .product {
    &__container {
      width: 80%;
    }
  }
  .box {
    &__container {
      margin-top: 3rem;
    }
  }
}

@media (max-width: 65.1em) {
  .LeftContent {
    &__container {
      flex: 0 0 100%;
    }
    &__title {
      margin-left: 4rem;
    }
  }

  .RightContent {
    &__container {
      flex: 0 0 100%;
    }
  }

  .box {
    &__container {
      margin-top: 3rem;
    }
  }
}

@media (max-width: 36.2em) {
  .product {
    &__container {
      width: 100%;
    }
    &__image-container {
      overflow: hidden;
      width: 100%;
      height: 20rem;
      &--selected {
        height: 20rem;

        border-radius: 1rem;
        border: 2px solid $color-red-orange;
      }

      &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .LeftContent {
    &__title {
      margin-left: 0;
    }
  }

  .modal {
    &__container {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
}
